body {
    padding: 0;
    margin: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans';
}

.header {
    height: 125px;
    width: 100%;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    justify-content: space-evenly;
}

.header a {
    margin-top: 35px;
    margin-right: 275px;
    font-size: 20px;
    font-weight: 800;
    text-decoration: none;
}

a img{
    align-items: center;
}
